<div class="panel panel-default">
    <div class="panel-body">
        <div class="alert alert-info" role="alert">
            <strong><span class="glyphicon glyphicon-volume-up"></span> 注意！</strong> 普通用户只能选择普通节点，VIP 可选择VIP节点。<i class="ace-icon fa fa-hand-o-right blue"></i> <a href="">如何成为VIP?</a>
        </div>
        <form class="form-horizontal ajaxform">
            <input type="hidden" name="role_id" value="" />
            <h4><span class="label label-default">普通节点</span></h4>
            <hr>
            <ul class="list-group w240 inline-group">
                <li class="list-group-item"><strong>北美地区</strong> <span class="pull-right"><span class="badge">5</span></span></li>
                <li class="list-group-item">北美1<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">北美2<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">北美3<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">北美4<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">北美5<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
            </ul>
            <ul class="list-group w240 inline-group">
                <li class="list-group-item"><strong>香港地区</strong> <span class="pull-right"><span class="badge">3</span></span></li>
                <li class="list-group-item">香港1<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">香港2<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">香港3<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
            </ul>
            <ul class="list-group w240 inline-group">
                <li class="list-group-item"><strong>大陆地区</strong> <span class="pull-right"><span class="badge">4</span></span></li>
                <li class="list-group-item">大陆1<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">大陆2<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">大陆3<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">大陆5<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
            </ul>
            <h4><span class="label label-warning">VIP节点</span></h4>
            <hr>
            <ul class="list-group w240 inline-group">
                <li class="list-group-item"><strong>北美地区</strong> <span class="pull-right"><span class="badge">5</span></span></li>
                <li class="list-group-item">北美1<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">北美2<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">北美3<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">北美4<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">北美5<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
            </ul>
            <ul class="list-group w240 inline-group">
                <li class="list-group-item"><strong>香港地区</strong> <span class="pull-right"><span class="badge">3</span></span></li>
                <li class="list-group-item">香港1<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">香港2<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">香港3<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
            </ul>
            <ul class="list-group w240 inline-group">
                <li class="list-group-item"><strong>大陆地区</strong> <span class="pull-right"><span class="badge">4</span></span></li>
                <li class="list-group-item">大陆1<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">大陆2<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">大陆3<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
                <li class="list-group-item">大陆5<span class="pull-right"><input name="" type="radio" value="" onclick="" /></span></li>
            </ul>
            <div class="form-group">
                <div class="col-md-8" style="margin-left:10px;">
                    <button type="submit" class="btn btn-primary">确认</button>
                </div>
            </div>
        </form>
    </div>
</div>