<!DOCTYPE HTML>
<html>

<head>
    <title>出错啦!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/index/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="/static/index/fonts.googleapis.com.css">
    <link rel="stylesheet" href="/static/index/common.css">
    <link rel="stylesheet" href="/static/style/awesome/css/font-awesome.min.css">

    <!--bootstrap google plus theme-->
    <link rel="stylesheet" href="/static/style/bootstrap/default/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/bootstrap/googleplus/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/bootstrap/googleplus/css/styles.css">
    <script src="/static/style/bootstrap/googleplus/js/bootstrap.min.js"></script>
    <script src="/static/style/bootstrap/googleplus/js/scripts.js"></script>
    <!--end-->

    <!--common stuff-->
    <script src="/static/style/plugins/notify.min.js"></script>
    <script src="/static/style/plugins/bootstrap-confirmation.min.js"></script>
    <script src="/static/style/common/common.js"></script>
    <link rel="stylesheet" href="/static/style/common/common.css">
    <!--end-->
</head>

<body>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="alert alert-danger" role="alert">
                <strong><span class="blue bigger-125">
                <i class="ace-icon fa fa-random"></i>
            </span></strong> 很抱歉，服务器返回错误！
            </div>
            <div class="space"></div>

            <hr>
            <div class="space"></div>
            <div class="center">
                <a href="javascript:history.back()" class="btn btn-default">
                    <i class="ace-icon fa fa-arrow-left"></i> 返回
                </a>
                <a target="_parent" href="/main/index" class="btn btn-primary">
                    <i class="ace-icon fa fa-tachometer"></i> 首页
                </a>
            </div>
        </div>
    </div>
</body>

</html>