<!--==== bootstrap ====-->
<script src="/static/js/bootstrap.min.js"></script>
<!--==== plugins js ====-->
<script src="/static/js/plugins.js"></script>
<!--==== magnific-popup-options js ====-->
<script src="/static/js/magnific-popup-options.js"></script>
<!--==== validator js ====-->
<script src="/static/js/validator.min.js"></script>
<!--==== particles js ====-->
<script src="/static/js/particles.min.js"></script>
<!--==== app js ====-->
<script src="/static/js/app.js"></script>
<!--==== app js ====-->
<script src="/static/js/wow-1.3.0.min.js"></script>
<!--==== main js ====-->
<script src="/static/js/main.js"></script>