<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">

<!--==== bootstrap ====-->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<!--==== font-awesome ====-->
<link href="/static/css/font-awesome.min.css" rel="stylesheet">
<!--==== owl-carousel ====-->
<link href="/static/css/owl.carousel.css" rel="stylesheet">
<!--==== magnific-popup ====-->
<link href="/static/css/magnific-popup.css" rel="stylesheet">
<!--==== animate css ====-->
<link href="/static/css/animate.min.css" rel="stylesheet">

<!--==== style css ====-->
<link href="/static/css/style.css" rel="stylesheet">
<!--==== responsive css ====-->
<link href="/static/css/responsive.css" rel="stylesheet">

<!--==== jquery ====-->
<script src="/static/js/jquery-2.1.4.min.js"></script>

<!--[if lt IE 9]>
<script src="/static/js/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="/static/js/respond/1.4.2/respond.min.js"></script>
<![endif]-->