<!DOCTYPE HTML>
<html>

<head>
    <title>出错啦!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="/static/css/fonts.googleapis.com.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <!--bootstrap google plus theme-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <!--end-->

</head>

<body>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="alert alert-danger" role="alert">
                <strong><span class="blue bigger-125">
                <i class="ace-icon fa fa-random"></i>
            </span></strong> 很抱歉，服务器返回错误！
            </div>
            <div class="space"></div>

            <hr>
            <div class="space"></div>
            <div class="center" style="text-align: center">
                <a href="javascript:history.back()" class="btn btn-default">
                    <i class="ace-icon fa fa-arrow-left"></i> 返回
                </a>
                <a target="_parent" href="/user/index" class="btn btn-primary">
                    <i class="ace-icon fa fa-tachometer"></i> 主页
                </a>
            </div>
        </div>
    </div>
</body>

</html>