<div class="panel panel-default">
    <div class="panel-body">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center w10p">ID</th>
                    <th class="center w35p">角色名</th>
                    <th class="center w20p">状态</th>
                    <th class="center w20p">创建时间</th>
                    <th class="center">操作</th>
                </tr>
            </thead>
            <tbody>
                {{range $role := .roles}}
                <tr>
                    <td class="center">{{$role.role_id}}</td>
                    <td class="center">{{$role.name}}</td>
                    <td class="center">
                        {{if eq $role.is_delete "0"}}
                        <span class="label label-success">正常</span> {{else}}
                        <span class="label label-danger">删除</span> {{end}}
                    </td>
                    <td class="center">
                        {{dateFormat $role.create_time "Y-m-d H:i:s"}}
                    </td>
                    <td class="center">
                        <a name="privilege" href="/role_privilege/add?role_id={{$role.role_id}}"><i class="glyphicon glyphicon-lock"> </i>权限</a>
                        <a name="edit" href="/role/edit?role_id={{$role.role_id}}"><i class="glyphicon glyphicon-pencil"> </i>修改</a>
                        <a name="delete" data-toggle="confirmation" data-placement="left" data-title="确定删除吗?" href="/role/delete?role_id={{$role.role_id}}"><i class="glyphicon glyphicon-remove"> </i>删除</a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
    </div>
</div>