<!DOCTYPE HTML>
<html>
<head>
    <title>{{.title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--==== bootstrap ====-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!--==== font-awesome ====-->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <!--==== animate css ====-->
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/plugins/jquery-fancybox/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/static/plugins/sweetalert/css/sweetalert.css" rel="stylesheet"/>

    <!--==== jquery ====-->
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <!--==== bootstrap ====-->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/plugins/jquery-fancybox/jquery.fancybox.js"></script>
    <script src="/static/plugins/jquery-notify/notify.js"></script>
    <script src="/static/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/static/js/common/common.js"></script>
    <script src="/static/js/common/form.js"></script>
</head>

<body>
    {{.LayoutContent}}
</body>

</html>