<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/index/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" href="/static/index/fonts.googleapis.com.css">
<link rel="stylesheet" href="/static/style/awesome/css/font-awesome.min.css">


<!--bootstrap default theme-->
<!-- <link rel="stylesheet" href="/static/style/bootstrap/default/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style/bootstrap/default/css/bootstrap-theme.min.css">
<script src="/static/style/bootstrap/default/js/bootstrap.min.js"></script> -->
<!--end-->

<!--bootstrap todc theme-->
<!-- <link rel="stylesheet" href="/static/style/bootstrap/todc/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style/bootstrap/todc/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/style/bootstrap/todc/css/todc-bootstrap.min.css">
<script src="/static/style/bootstrap/todc/js/bootstrap.min.js"></script> -->
<!--end-->

<!--bootstrap google plus theme-->
<link rel="stylesheet" href="/static/style/bootstrap/default/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style/bootstrap/googleplus/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style/bootstrap/googleplus/css/styles.css">
<script src="/static/style/bootstrap/googleplus/js/bootstrap.min.js"></script>
<script src="/static/style/bootstrap/googleplus/js/scripts.js"></script>
<!--end-->

<!--common stuff-->

<script src="/static/style/plugins/notify.min.js"></script>
<script src="/static/style/plugins/bootstrap-confirmation.min.js"></script>
<script src="/static/style/common/common.js"></script>
<link rel="stylesheet" href="/static/style/common/common.css">
<!--end-->