<div class="panel panel-default">
    <div class="panel-heading">
        <h4><span class="label label-danger">第二步：</span> 请选择节点</h4>
    </div>
    <div class="panel-body">
        {{$clusterId := .clusterId}}
        <div class="alert alert-info" role="alert">
            <strong><span class="glyphicon glyphicon-volume-up"></span> 注意！</strong> 普通用户只能选择普通节点，VIP 可选择VIP节点。<i class="ace-icon fa fa-hand-o-right blue"></i> <a href="">如何成为VIP?</a>
        </div>
        <form class="form-horizontal" action="/tunnel/add" method="post">
            <input type="hidden" name="mode" value="{{.mode}}" />
            {{range $name, $regionCluster := .regionClusters}}
            <h4><span class="label label-default">{{$name}}</span></h4>
            {{range $regionKey, $regions := $regionCluster}}
            <ul class="list-group w240 inline-group">
                <li class="list-group-item"><strong>{{$regions.name}}</strong> <span class="pull-right"><span class="badge"></span></span></li>
                {{range $clusterKey, $cluster := $regions.clusters}}
                <li class="list-group-item cluster_{{$cluster.cluster_id}}">{{$cluster.name}}
                    <span class="pull-right">
                        <input name="cluster_id" type="radio" value="{{$cluster.cluster_id}}" {{if eq $clusterId $cluster.cluster_id}} checked {{end}}/>
                    </span>
                </li>
                {{end}}
            </ul>
            {{end}}
            {{end}}
            <div class="form-group center">
                <div class="col-md-12" style="margin-left:10px;">
                    <a type="button" href="javascript:history.back(-1)" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>上一步</a>
                    <button type="submit" class="btn btn-primary">下一步 <span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
            </div>
        </form>
    </div>
</div>