<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal ajaxform" method="post" action="/user/changepassword">
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span>旧密码</label>
                <div class="col-sm-4">
                    <input type="password" name="password_old" class="form-control" value="">
                </div>
                <div class="col-md-4">
                    <span class="text-danger"> * </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><span class="text-danger"> * </span>新密码</label>
                <div class="col-sm-4">
                    <input type="password" name="password" class="form-control" value="">
                </div>
                <div class="col-md-4">
                    <span class="text-danger"> * </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">修改</button>
                </div>
            </div>
        </form>
    </div>
</div>